/* ----- FONT-FAMILY ----- */

$font-primary: "Poppins", sans-serif;

/* ----- SIZE----- */

$fs-96: 96px;
$fs-64: 64px;
$fs-48: 48px;
$fs-32: 32px;
$fs-24: 24px;
$fs-20: 20px;
$fs-19: 19px;
$fs-17: 17px;
$fs-14: 14px;
$fs-12: 12px;

/* ----- WEIGHT ----- */

$ligth: 300;
$regular: 400;
$medium: 500;
$bold: 700;

/* ----- COLORS ----- */

$c-negro: #000000;
$c-blanco: #ffffff;
$c-gris-5E: #5e5e5e;
$c-gris-6A: #6a6a6a;
$c-gris-6A-transparent: #6a6a6abd;
$c-gris-C3: #c3c4ca;
$c-gris-D5: #d5d7d9;
$c-gris-f2: #f2f3f3;
$c-blue-00: #0075ff;
$c-blue-00FD: #007efd;
$C-gris-6D: #6d7783;
$C-narajna-FF: #ff6819;
$C-verde-9F: #9ff4f4;
$C-rosa-E6: #e6a0f2;
$C-naranja-FF47: #ffbf47;

/* ----- SHADOWS ----- */

$box-shadow-20: 5px 5px 20px rgba(0, 0, 0, 0.15);
$box-shadow-4: 0px 2px 4px #c3c4ca;
